@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html {
  box-sizing: border-box;
}

:root {
  --color1: #ffb7c5;

  --color2: #ff5f7e;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  background: #1c1d22;
  font-family: 'Varela Round', sans-serif;
  
}


label {
	color: var(--color1);
}